<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Signup</title>
  </head>
  <body>
    <div class="container col-6 mt-4">
      <h3 class="text-center">Create an Account</h3>
      {% for message in messages %}
      <h4>{{message}}</h4>
      {% endfor %}
      <form method="POST" action="register">
        {% csrf_token %}
        <!-- userName -->
        <div class="mb-3">
          <label for="exampleInputText" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputText"
            aria-describedby="emailHelp"
            name="username"
          />
        </div>

        <!-- Email -->

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Repeat Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="repeat_password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
